
bin/Debug/netcoreapp3.1/config.json
.vs/BotApp/v16/.suo
bin/Debug/netcoreapp3.1/config.json
.vs/BotApp/v16/.suo
bin/Debug/netcoreapp3.1/config.json
.vs/BotApp/v16/.suo
bin/Debug/netcoreapp3.1/config.json
.vs/BotApp/DesignTimeBuild/.dtbcache.v2
.vs/BotApp/v16/.suo
bin/Debug/netcoreapp3.1/config.json
.vs/BotApp/v16/.suo
bin/Debug/netcoreapp3.1/config.json
.vs/BotApp/v16/.suo
bin/Debug/netcoreapp3.1/config.json
